<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Stock</th>
      <th>Photo</th>
      <th>Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of ProduitsList">
      <td>{{ dataItem.Id}}</td>
      <td>{{ dataItem.Nom}}</td>
      <td>{{ dataItem.Stock}}</td>
      <td>{{ dataItem.Photo}}</td>
      <td>{{ dataItem.Prix}}</td>
      <td>
        <button type="button" class="btn btn-light mr-1">
          Edit
        </button>
        <button type="button" class="btn btn-light mr-1">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
