<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th>DateCreation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of ClientsList">
            <td>{{ dataItem.Id}}</td>
            <td>{{ dataItem.Nom}}</td>
            <td>{{ dataItem.Prenom}}</td>
            <td>{{ dataItem.Mail}}</td>
            <td>{{ dataItem.DateCreation}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1">
                    Edit
                </button>
                <button type="button" class="btn btn-light mr-1">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
